html {
    font-size: 62.5%;
    box-sizing: border-box;
    width: 30rem;
    margin: 0rem auto;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: whitesmoke;
}

header {
  box-sizing: inherit;
}

main {
  display: flex;
  flex-direction: column;
}

section {
  box-sizing: inherit;
}

button {
  background: none;
  border: none;
}

p {
  font-size: 2.4rem;
  font-weight: normal;
  line-height: normal;
  color: #4A4A4A;
  text-align: center;
}

.wrapper {
    max-width: 1170px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
  }

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.flex-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo {
  display: flex;
  flex-direction: row;
}

#logotype {
  width: 3.6rem;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
}

#menuimg {
  width: 3.2rem;
}

#image {
  width: 28rem;
}

.right {
}

#head {
  font-size: 2.4rem;
}

.fotter_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.plusminus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 1rem auto;
  gap: 2rem;
}

#minus {
  width: 3.2rem;
}

#number {
  width: 1.4rem;
  height: 2.5rem;
}

#plus {
  width: 3.2rem;
}

.but-direction {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#in_korzina {
  width: 28rem;
  margin: 1rem auto;
}

#podrobee {
  width: 28rem;
  margin: 1rem auto;
}

@media screen and (min-width: 1220px) {
html {
  width: 150rem;
}

p {
  font-size: 2.4rem;
  width: 75rem;
  text-align: left;
}

#head {
  font-size: 6rem;
  margin: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

#image {
  width: 70rem;
}

.right {
  text-align: left;
  margin-top: 18rem;
}

.but-direction {
  flex-direction: row;
  justify-content: space-around;
}

.fotter_button {
  width: 70rem;
}

#logotype {
  width: 7.6rem;
}

#menuimg {
  width: 4rem;
}

}